html,
body,
#root {
  height: 100%;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  background-color: #20202a;
  color: #fff;
}

html * {
  box-sizing: inherit;
}

body {
  margin: 0;
}
